#root {
  grid-template-columns: 20% 80%;
  display: grid;
  --prime-color: #264e70;
  color: white;
}

button {
  background: #ef6c57;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  font: normal bold 18px "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

button:hover {
  transition: all 0.3s;
  background: #9c3829;
}
